## Copyright 2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3. See LICENSE.txt for your rights.
## Edited by Miroslav Lach (miroslav.lach@tum.de) for the CoSESWeather-Project
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>$station.location Statistics</title>
  <link rel="icon" type="image/png" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="seasons.css" />
  <script src="seasons.js"></script>
  <style>
    #statistics_widget th {
      font-weight: normal;
      text-align: right;
    }

    #statistics_widget .widget_title {
      margin-bottom: 25px;
    }

    #statistics_widget .label {
      font-size: 100%;
    }

    #statistics_widget .data {
      text-align: right;
      font-size: 100%;
      padding-left: 50px;
    }

    #statistics_widget .units {
      font-size: 100%;
    }

    #statistics_widget .timestamp {
      color: var(--timestamp-color);
    }
  </style>
</head>

<body>
  #include "titlebar.inc"

  <div id="contents">
    <p><a href="index.html">&#10096; Back to Overview</a></p>

    <div id="impressum">
      <h2>Impressum</h2>
      <h3>Herausgeber</h3>
      <p>Technische Universität München<br> Arcisstraße 21<br> 80333 München<br> Telefon: +4989289-01<br>
        poststelle@tum.de
      </p>

      <h3>Vertretungs­berechtigt</h3>
      <p>Die Technische Universität München wird gesetzlich vertreten durch den Präsidenten, Prof. Dr. Thomas F.
        Hofmann.
      </p>

      <h3>Zuständige Aufsichtsbehörde</h3>
      <p>Bayerisches Staatsministerium für Wissenschaft und Kunst</p>

      <h3>Umsatzsteuer­identifikations­nummer</h3>
      <p>DE811193231 (gemäß § 27a Umsatzsteuergesetz )</p>

      <h3>Inhaltlich verantwortlich</h3>
      <p>Prof. Dr. Thomas Hamacher<br>Lichtenbergstr. 4a<br>85748 Garching b. München<br>E-Mail:
        thomas.hamacher(at)tum.de
      </p>
      <p>Namentlich gekennzeichnete Internetseiten geben die Auffassungen und Erkenntnisse der genannten Personen
        wieder.
      </p>

      <h3>Nutzungsbedingungen</h3>
      <p>Texte, Bilder, Grafiken sowie die Gestaltung dieses Webauftritts können dem Urheberrecht unterliegen. Nicht
        urheberrechtlich geschützt sind nach § 5 des Urheberrechtsgesetz (UrhG)</p>
      <ul>
        <li>Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie Entscheidungen und amtlich verfasste
          Leitsätze zu Entscheidungen und</li>
        <li>andere amtliche Werke, die im amtlichen Interesse zur allgemeinen Kenntnisnahme veröffentlicht worden sind,
          mit der Einschränkung, dass die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1 bis 3 und
          § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.</li>
      </ul>
      <p>Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen Gebrauch
        im
        Rahmen des § 53 UrhG verwenden. Eine Vervielfältigung oder Verwendung urheberrechtlich geschützten Materials
        dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren
        Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese Einwilligung erteilen auf Anfrage die für den
        Inhalt Verantwortlichen. Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit
        Quellenangabe allgemein gestattet.</p>
      <p>Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter
        unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
        nähere Auskünfte.</p>

      <h3>Haftungsausschluss</h3>
      <p>Alle in diesem Webauftritt bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet
        und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der
        bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern
        des Webauftritts kommt nicht zustande.</p>
      <p>Wir haften nicht für Schäden, die durch die Nutzung dieses Webauftritts entstehen. Dieser Haftungsausschluss
        gilt
        nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige
        Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung
        von Software verursacht werden, übernehmen wir keine Haftung.</p>

      <h3>Links</h3>
      <p>Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden.
        Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz.
        Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin
        überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird.
        Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine
        Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für
        Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige
        Anbieter der Seite.</p>

    </div>
    <div id="datenschutzerklaerung">
      <h2>
        Daten­schutz­erklärung
      </h2>

      <p class="intro">
        Für die Technische Universität München ist Datenschutz ein wichtiges Anliegen. Wir möchten, dass Sie wissen,
        wann wir welche Daten speichern und wie wir sie verwenden. Personenbezogene Daten werden auf diesem
        zentralen Web-Server der Universität (www.tum.de) nur im technisch notwendigen Umfang erhoben. Die
        Datenverarbeitung unterliegt den geltenden datenschutzrechtlichen Bestimmungen, insbesondere der
        Datenschutz-Grundverordnung (DSGVO) dem Bayerischen Datenschutzgesetz (BayDSG) und dem <a class="external-link"
          href="https://www.gesetze-im-internet.de/tmg/" title="Opens external link in current window">Telemediengesetz
          (TMG)</a>.
      </p>
      <p class="intro">
        Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener
        Daten. Diese Informationen können jederzeit von unserer Webseite abgerufen werden.
      </p>

      <h3 class="lines">
        Technische Umsetzung
      </h3>
      <p>
        Die Webserver der Technischen Universität München werden vom <a class="external-link" href="https://www.lrz.de/"
          title="Opens external link in current window">Leibniz-Rechenzentrum (LRZ)</a>
        betrieben.
      </p>
      <p>
        Leibniz-Rechenzentrum (LRZ)<br>
        Boltzmannstraße 1<br>
        85748 Garching b. München
      </p>


      <h3 class="lines">
        Protokollierung
      </h3>

      <p>
        Wenn Sie diese oder andere Internetseiten aufrufen, übermitteln Sie über Ihren Internetbrowser Daten an
        unseren Webserver. Die folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen
        Ihrem Internetbrowser und unserem Webserver temporär in einer Logdatei aufgezeichnet:
      </p>
      <ul>
        <li>IP-Adresse des anfragenden Rechners</li>
        <li>Datum und Uhrzeit des Zugriffs</li>
        <li>Name, URL und übertragene Datenmenge der abgerufenen Datei</li>
        <li>Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</li>
        <li>Erkennungs­daten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser
          übermittelt)</li>
        <li>Webseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)</li>
      </ul>
      <p>
        Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:
      </p>
      <ul>
        <li>Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen
          und entsprechend reagieren zu können.</li>
        <li>In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheits­vorfällen, erfolgt eine manuelle
          Analyse.</li>
        <li>Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.</li>
        <li>Die anonymisierten Logs werden zur Erstellung von Zugriffs­statistiken verwendet. Die hierfür
          eingesetzte Software wird lokal vom LRZ betrieben.</li>
      </ul>
      <p>
        Die in den Logeinträgen enthaltenen IP-Adressen werden vom LRZ nicht mit anderen Datenbeständen
        zusammengeführt, so dass für das LRZ kein Rückschluss auf einzelne Personen möglich ist.
      </p>

      <h3 class="lines">
        Aktive Komponenten
      </h3>

      <p>
        In diesem Webauftritt werden aktive Komponenten wie JavaScript, Java-Applets oder Active-X-Controls
        verwendet. Diese Funktion kann durch die Einstellung Ihres Internetbrowsers von Ihnen abgeschaltet werden.
      </p>

      <h3 class="lines">
        Elektronische Post (E-Mail)
      </h3>
      <p>
        Informationen, die Sie unverschlüsselt per Elektronische Post (E-Mail) an uns senden, können möglicherweise
        auf dem Übertragungsweg von Dritten gelesen werden. Wir können in der Regel auch Ihre Identität nicht
        überprüfen und wissen nicht, wer sich hinter einer E-Mail-Adresse verbirgt. Eine rechtssichere Kommunikation
        durch einfache E-Mail ist daher nicht gewährleistet. Wir setzen - wie viele E-Mail-Anbieter - Filter gegen
        unerwünschte Werbung („SPAM-Filter“) ein, die in seltenen Fällen auch normale E-Mails fälschlicherweise
        automatisch als unerwünschte Werbung einordnen und löschen. E-Mails, die schädigende Programme („Viren“)
        enthalten, werden von uns in jedem Fall automatisch gelöscht.
      </p>

      <h3 class="lines">
        Änderung der Datenschutzbestimmungen
      </h3>

      <p>
        Wir behalten uns vor, unsere Datenschutzbestimmungen gelegentlich anzupassen, damit sie stets den aktuellen
        rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung
        umzusetzen. Wir empfehlen Ihnen, diese Datenschutzbestimmungen regelmäßig zu lesen, um über den Schutz der
        von uns erfassten persönlichen Daten auf dem Laufenden zu bleiben. Durch die fortgesetzte Nutzung des
        Dienstes erklären Sie sich mit diesen Datenschutzbestimmungen und deren Aktualisierung einverstanden.
      </p>


      <h3 class="lines">
        Behördlicher Datenschutzbeauftragter
      </h3>

      <p>
        Den behördlichen Datenschutzbeauftragten der Technischen Universität München erreichen Sie per E-Mail
        beauftragter(at)datenschutz.tum.de oder über <a class="external-link" href="https://www.datenschutz.tum.de/"
          title="Opens external link in current window">www.datenschutz.tum.de</a>
      </p>

      <h3 class="lines">
        Auskunft und Berichtigung
      </h3>

      <p>
        Sie haben das Recht, auf schriftlichen Antrag und unentgeltlich Auskunft über die personen­bezogenen Daten
        zu
        erhalten, die über Sie gespeichert sind. Zusätzlich haben Sie das Recht auf Berichtigung unrichtiger Daten,
        Sperrung und Löschung.
      </p>
    </div>

  </div>

</body>

</html>